force-app/main/default/flows/FinDock_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_PSP_0</name>
        <label>Redirect to PSP</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>c:navigateToURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>redirectURL</name>
            <value>
                <elementReference>redirect_url</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Payment</name>
        <label>Submit Payment</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>FinDockSubmitPaymentIntentAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Payment_status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Oops_Action</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OneTime_Amount</name>
            <value>
                <elementReference>Amount_to_pay</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PaymentIntent_FailureUrl</name>
            <value>
                <stringValue>https://example.com/failure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PaymentIntent_SuccessUrl</name>
            <value>
                <stringValue>https://example.com/success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PaymentMethod_Name</name>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceField_Contact_01_Name</name>
            <value>
                <stringValue>FirstName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceField_Contact_01_Value</name>
            <value>
                <elementReference>name.firstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceField_Contact_02_Name</name>
            <value>
                <stringValue>LastName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceField_Contact_02_Value</name>
            <value>
                <elementReference>name.lastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceField_Contact_03_Name</name>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceField_Contact_03_Value</name>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Redirect_URL_0</name>
        <label>Set Redirect URL</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>redirect_url</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submit_Payment.redirectUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_Me_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>payment_method_default</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ideal</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Payment_status</name>
        <label>Payment_Status</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Default_outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submit_Payment.statusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Redirect_URL_0</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submit_Payment.statusCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oops</targetReference>
            </connector>
            <label>Failure</label>
        </rules>
    </decisions>
    <interviewLabel>FinDock Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FinDock Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Default_outcome</name>
        <label>Default_outcome</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>How</name>
            <fieldText>&lt;p&gt;How did I get here?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Oops</name>
        <label>Oops</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Failure_text</name>
            <fieldText>&lt;p&gt;Noooooo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Response</name>
            <fieldText>&lt;p&gt;{!Submit_Payment.responseBody}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Oops!</description>
        <name>Oops_Action</name>
        <label>ERROR</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Oops_2</name>
            <fieldText>&lt;p&gt;Did nothing&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pay_me</name>
        <label>Pay</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_Payment</targetReference>
        </connector>
        <fields>
            <name>name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Amount_to_pay</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Payment_Method</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>payment_method_default</elementReference>
            </defaultValue>
            <fieldText>Payment Method</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_Me_0</name>
        <label>Redirect Me</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Redirect_to_PSP_0</targetReference>
        </connector>
        <fields>
            <name>click_me_header</name>
            <fieldText>&lt;p&gt;&lt;b&gt;CLICK the URL!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>click_me_url</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!redirect_url}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!redirect_url}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>redirect_me_to_psp_0</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Follow me!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>redirect_url</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pay_me</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>redirect_url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
