force-app/main/default/flows/FinDock_Community_Payment_Invocables.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>SubmitPaymentIntentInvocables</name>
        <label>SubmitPaymentIntentInvocables</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <actionName>FinDockCommunityActionInvocables</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_API_Response_Variables</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactEmail</name>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactFirstName</name>
            <value>
                <elementReference>name.firstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactLastName</name>
            <value>
                <elementReference>name.lastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>failureURL</name>
            <value>
                <elementReference>FailureURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethod</name>
            <value>
                <elementReference>payment_method_choice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>successURL</name>
            <value>
                <elementReference>SuccessURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_API_Response_Variables</name>
        <label>Set RedirectURL and Status</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>redirect_url</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmitPaymentIntentInvocables.redirectURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmitPaymentIntentInvocables.status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Method_Choice</name>
        <label>Set Payment Method Choice</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>payment_method_choice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>payment_method</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubmitPaymentIntentInvocables</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>API_body_test</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{     &quot;SuccessURL&quot;: &quot;https://www.example.com/success&quot;,     &quot;FailureURL&quot;: &quot;https://www.example.com/error&quot;,     &quot;Payer&quot;: {         &quot;Contact&quot;: {             &quot;SalesforceFields&quot;: {                 &quot;FirstName&quot;: &quot;Eric&quot;,                 &quot;LastName&quot;: &quot;Johnson&quot;,                 &quot;Email&quot;: &quot;eric@johnson.com&quot;             }         }     },     &quot;OneTime&quot;: {         &quot;Amount&quot;: &quot;15&quot;     },     &quot;PaymentMethod&quot;: {         &quot;Name&quot;: &quot;BACS Direct Debit&quot;,         &quot;Processor&quot;: &quot;FinDock-GoCardless&quot;     },     &quot;Settings&quot;: {         &quot;SourceConnector&quot;: &quot;PaymentHub&quot;     } }</stringValue>
        </value>
    </constants>
    <constants>
        <name>FailureURL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://example.com/failure</stringValue>
        </value>
    </constants>
    <constants>
        <name>SuccessURL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://www.example.com/success</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Do_I_need_to_redirect</name>
        <label>Do I need to redirect?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Redirect_Screen_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>redirect_url</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_Screen_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Decision</name>
        <label>Status Decision</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Oops</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_I_need_to_redirect</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>payment_method_options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>cpm__Payment_Method__c</picklistField>
        <picklistObject>cpm__Installment__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>APImessagebody</name>
        <dataType>String</dataType>
        <expression>&apos;{     &quot;SuccessURL&quot;: &quot;https://www.example.com/success&quot;,     &quot;FailureURL&quot;: &quot;https://www.example.com/error&quot;,     &quot;Payer&quot;: {         &quot;Contact&quot;: {             &quot;SalesforceFields&quot;: {                 &quot;FirstName&quot;: &quot;&apos;&amp;{!name.firstName}&amp;&apos;&quot;,                 &quot;LastName&quot;: &quot;&apos;&amp;{!name.lastName}&amp;&apos;&quot;,                 &quot;Email&quot;: &quot;&apos;&amp;{!email.value}&amp;&apos;&quot;             }         }     },     &quot;OneTime&quot;: {         &quot;Amount&quot;: &quot; &apos;&amp;TEXT({!amount})&amp;&apos;&quot;     },     &quot;PaymentMethod&quot;: {         &quot;Name&quot;: &quot;&apos;&amp;{!payment_method_choice}&amp;&apos;&quot;     }}&apos;</expression>
    </formulas>
    <interviewLabel>FinDock_Community_Payment_Invocables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FinDock Community Payment Invocables</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>FinDock_Community_Payment</name>
        <label>FinDock Community Payment</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Payment_Method_Choice</targetReference>
        </connector>
        <fields>
            <name>amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>payment_method</name>
            <choiceReferences>payment_method_options</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Oops</name>
        <label>Oops!</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>oops_message</name>
            <fieldText>&lt;p&gt;Something went wrong. Try again later!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_Screen_0_0</name>
        <label>Redirect Screen</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirect_url_to_click_0</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!redirect_url}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;To payment!&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_Screen_Success</name>
        <label>Redirect Screen Success</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirect_url_to_click_0_0</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!SuccessURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Thank you!&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FinDock_Community_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>payment_method_choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>redirect_url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
